# 数据库配置
DATABASE_URL="postgresql+asyncpg://postgres:123456@localhost:5432/数据库名称"
# JWT配置
JWT_SECRET_KEY=QWERTYUIOP1234ASDFGHJKL
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
# 模型配置
CHAT_MODEL_NAME=你使用的大模型，我使用的是Qwen3-Omni-30B-A3B-Instruct
CHAT_MODEL_PROVIDER=openai
CHAT_MODEL_BASE_URL=模型的url
CHAT_MODEL_API_KEY=模型密钥
# ORC
OCR_PROVIDER=baidu
OCR_TEXT_MIN_CHARS=80
OCR_MAX_PAGES=50
BAIDU_OCR_API_KEY=你自己的api key
BAIDU_OCR_SECRET_KEY=你自己的secret key
# Embedding
EMBEDDING_MODEL_NAME=你使用的embedding模型，我使用的是Qwen3-Embedding-4B
EMBEDDING_BASE_URL=模型的url
EMBEDDING_API_KEY=模型密钥
EMBEDDING_DIM=2560
